*{
  box-sizing: border-box;
}
body{
  background-color: #d6c3d0;
  margin: 0;
}
/*start App*/
h2{
  background-color:#540b3d ;
  padding:1rem;
  color: #fff;
}
.App{
  padding: 30px;
  background-color: #fff;
  width: 80%;
  margin: 50px auto;
  box-shadow: 2px 5px 10px #888;
}
input{
  width: 80%;
  border:0;
  padding: 10px 10px;
  background-color: #e8e8e8;
}
button{
  width: 20%;
  padding: 10px 0px;
  border: 0;
  margin: 0;
  outline: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background-color: #4dc55b;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  margin: 15px 0;
}
li span{
  display: inline-block;
  width: 60%;
  color: #6a6a6a;
}
li > button:first-of-type{
  background-color: #6a6a6a;
  color: #fff;
  margin-right: 1%;
  width: 19%;
}
li > button:last-of-type{
  background-color: #ad2723;
  color: #fff;
}
ul > form{
  margin: 15px 0;
}